* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #333;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vmin;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 2000px;
    -webkit-perspective: 2000px;
  }
  
  a {
      text-decoration: none
  }

  .hidden {
    display: none;
  }
  
  .login-container{
    z-index: 1;
  }
  
  /** Buttons **/
  .btn {
    background-color: transparent;
    border-radius: 2em;
    border: 0.2em solid #1db954;
    color: #1db954;
    cursor: pointer;
    font-size: 3vmin;
    padding: 0.7em 1.5em;
    text-transform: uppercase;
    transition: all 0.25s ease;
  }
  
  .btn:hover {
    background: #1db954;
    color: #333;
  }
  
  .btn--login {
    margin: 5em auto;
  }
  
  /** Now Playing **/
  .now-playing__name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.2em;
  }
  
  .now-playing__artist {
    margin-bottom: 1em;
    margin-top: 0.5em;
    font-size: 1.1em;
    font-weight: bold;
  }

  .now-playing__album {
    opacity: 70%
  }
  
  .now-playing__img {
    width: 50%;
    transition: all 0.75s ease-out;
  }
  
  .now-playing__img img {
    max-width: 80vmin;
    width: 100%;
  }
  
  .now-playing__info {
    margin-left: 5%;
    width: 45%;
    transition: all 0.75s ease-out;
  }
  
  /** Progress **/
  .progress {
    border: 0.15em solid white;
    border-radius: 2.5em;
    height: 1em;
    margin-top:50px;
  }
  
  .progress__bar {
    background-color: white;
    border: 0.1em solid transparent;
    border-radius: 2em;
    height: 0.73em;
    margin-top: -0.5px;
    margin-left: -0.5px;

  }
  
  /** Background **/
  .background {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    filter: blur(3em);
    position: absolute;
    z-index: 0;
  }
  
  .container {
    width: 80%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .card {
    transform-style: preserve-3d;
    /* perspective: 2000px;
    -webkit-perspective: 2000px; */
    min-height: 60vh;
    width: 60rem;
    padding: 1.5em 1em;
    z-index: 1;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    /* glass morphism */
    background: rgba( 255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(125, 125, 125, 0.4);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
  }

  .playback{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }

  .icon{
    cursor: pointer;
  }